<!--Client(SavedConnections) ejs Page-->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Club Members</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="client_bg">
<%- include('./partials/header.ejs'); -%>
<div class="appointment">
<h1><%= user.fname %>'s Events</h1>
<% if(user===undefined || profile_info.length==0 ){ %>
  <div>
    <h2>You don't have any training classes saved in your profile. </h2>
    <h2>Checkout our connections page for some interesting classes or start a new class.</h2>
  </div>
<% } else{ %>
<br>
<table>
    <tr>
      <th>Activity</th>
      <th>Category</th>
      <th>Going</th>
      <th>Actions</th>
    </tr>
  <%  for (let j=0 ; j<profile_info.length; j++) 
    { %>
    <tr>
      <td>
        <%= profile_info[j].connection_name %></td>
      <td><%= profile_info[j].connection_topic %></td>
      <td><%= profile_info[j].rsvp %></td>
      <td>
        <div>
          <% var param = new URLSearchParams({
            cid: profile_info[j].cid
            });
          %>
          <% var url="Classes_Detail?" + param  %>  <!--Setting url for "Update" button with userConnId-->
          <button class='yoga_button_update' onclick="window.location.href='<%= url %>';">UPDATE</button>

          <form name="input" action="/delete" method="post">	
            <input type="hidden" value="<%= profile_info[j].cid %>" name="cid" />
            <input type="hidden" value="<%= token %>" name="token" />
          <input type="submit" class="yoga_button_delete"  value="Delete">
          </form>
      	</div>
      </td>
    </tr>
  <%}%>
    </table>
    <%}%>
  </div>
<%- include('./partials/footer.ejs'); -%>
</body>
</html>
